@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/assets/images/background.png);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #121214;
    color: white;  
    font-family: inter, sans-serif;
    line-height: 160%;
}
main{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.content{
   
    max-width: 580px;
    width: 90%;
}

section{
    padding: 32px;
  background-color: #2A2634;
}
section .background{
    
    
}
section .title{
    letter-spacing: -0.47px;
}
section .subtitle{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
ul{
    list-style: none;
    display: flex;
    gap: 16px;   
}
.games{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #2A2634;
}
.games .header{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.games img{
    width: 90px;
    border-radius: 8px;
}

